.example {
  display: grid;
  transition: all 0.5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}
body {
  background-color: #dbcde3;
}
header {
  background-color: rgb(243, 243, 21);
  position: relative;
  height: 175px;
}
.logo {
  position: relative;
  top: 16px;
  left: 16px;
}
.title-1 {
  position: absolute;
  font-family: "Caveat", cursive;
  font-family: "Sriracha", cursive;
  color: white;
  font-size: 36px;
  left: 40%;
  top: 35px;
}
table {
  position: relative;
  width: 100%;
}
tr {
  background-color: #f81175;
  font-family: arial;
}
th {
  padding: 22px 10px;
}
p {
  position: relative;
  text-align: justify;
  font-family: arial;
}
h6 {
  font-family: Arial;
  font-size: 1.2em;
  color: Blue;
  margin-top: auto;
  margin-bottom: 10px;
  padding-top: 1px;
  text-align: left;
}
h5 {
  font-family: arial;
  font-weight: bold;
}
ul {
  font-family: arial;
}
li {
  list-style: none;
  text-align: left;
  padding-left: 29px;
}
h2 {
  font-family: arial;
  color: blue;
}
h3 {
  font-family: arial;
  font-size: 26;
  color: blue;
  text-align: center;
}
h4 {
  font-family: arial;
  font-size: 25;
}
.title-2 {
  text-align: center;
  font-family: "Caveat", cursive;
  font-family: "Sriracha", cursive;
  font-size: 25px;
  color: blue;
}
.resumen {
  padding: 3px 40px;
}
.caratula {
  width: 212px;
  height: 299px;
  float: left;
  margin-right: 15px;
  margin-top: 10px;
  margin-left: 25px;
  padding-top: 0px;
}
.box-2 {
  width: 212px;
  height: auto;
  float: left;
  margin-right: 20px;
  margin-top: 10px;
  margin-left: 10px;
  padding-top: 0px;
}
footer {
  position: relative;
  background-color: rgb(243, 243, 21);
  height: 140px;
}
.box-3 {
  position: relative;
  top: 35px;
  left: 40px;
  width: 203px;
}
.enlace {
  background-color: inherit;
}
.box-4 {
  position: absolute;
  left: 40%;
  top: 35px;
}
hr {
  width: 60%;
}
.listado {
  margin-left: 50px;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 15%;
}
.estructura {
  list-style-type: disc;
}
